<div class="bootstrap-wrapper">
<div class="container"><br>
    <div style="text-align:center" class="alert alert-success"> <h2>Test 2</h2>
        <h3>GraphQL API call that returns the equivalent entry and fields</h3>
    </div><br>
    <div *ngFor="let s of seo">
            <b>Url : </b>{{s.canonicalUrl}}<br>
            <b>Seo Title : </b>{{s.title}}<br>
            <b>Category : </b>{{s.entryTitle}}<br>
            <b>Description : </b>{{s.description}}<br><hr>
        </div><br>
    
</div>
</div>