<div class="bootstrap-wrapper">
    <div class="container"><br>
        <h1 class="text-center">Rogers Assessment - Bhupinder Karan Singh</h1><hr>
            <div class="container text-center">
                <button mat-raised-button color="primary" [routerLink]="['test1']" routerLinkActive="active">Test 1</button> |
                <button mat-raised-button color="primary" [routerLink]="['test2']" routerLinkActive="active">Test 2</button> |
                <button mat-raised-button color="primary" [routerLink]="['test3']" routerLinkActive="active">Test 3</button> |
                <button mat-raised-button color="primary" [routerLink]="['test4']" routerLinkActive="active">Test 4</button> |
                <button mat-raised-button color="primary" [routerLink]="['test5']" routerLinkActive="active">Test 5</button> 
            </div>
    </div>
</div>    

